.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
.DS_Store
*.iml

# Flutter generated platform build artifacts
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
android/.gradle/

# Cloudflare
server/node_modules/
server/.wrangler/
server/.dev.vars
